In [ ]:
import pandas as pd

df = pd.read_csv("../data/advertising.csv")

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [6]:
df = df.rename(columns={
    "Daily Time Spent on Site": "daily_time_on_site",
    "Age": "age",
    "Area Income": "area_income",
    "Daily Internet Usage": "internet_usage",
    "Ad Topic Line": "ad_topic",
    "City": "city",
    "Male": "male",
    "Timestamp": "timestamp",
    "Clicked on Ad": "clicked"
})
df = df.drop(columns=["city"])

df["timestamp"] = pd.to_datetime(df["timestamp"])
df["hour"] = df["timestamp"].dt.hour


df["ad_topic_len"] = df["ad_topic"].str.len()
df["ad_topic_words"] = df["ad_topic"].str.split().str.len()
df.head()

,daily_time_on_site,age,area_income,internet_usage,ad_topic,male,Country,timestamp,clicked,hour,ad_topic_len,ad_topic_words
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,0,Tunisia,2016-03-27 00:53:11,0,0,34,3
1,80.23,31,68441.85,193.77,Monitored national standardization,1,Nauru,2016-04-04 01:39:02,0,1,34,3
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,0,San Marino,2016-03-13 20:35:42,0,20,32,3
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,1,Italy,2016-01-10 02:31:19,0,2,37,3
4,68.37,35,73889.99,225.58,Robust logistical utilization,0,Iceland,2016-06-03 03:36:18,0,3,29,3

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report


feature_cols = [
    "age",
    "area_income",
    "daily_time_on_site",
    "internet_usage",
    "hour",
    "male",
    "ad_topic_len",
    "ad_topic_words",
]

X = df[feature_cols]
y = df["clicked"]

# Train/test split
# 80% for training, 20% for testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

#  Scaling numeric features
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Accuracy: 0.98

Confusion Matrix:
 [[99  1]
 [ 3 97]]

Classification Report:
               precision    recall  f1-score   support

           0       0.97      0.99      0.98       100
           1       0.99      0.97      0.98       100

    accuracy                           0.98       200
   macro avg       0.98      0.98      0.98       200
weighted avg       0.98      0.98      0.98       200